@{
    ViewBag.Title = "Administrator";
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1>Administrator</h1>
        <p>This is the page for administrators only!</p>
        <hr />

        @Html.ActionLink("Go back to Index", "Index")
    </div>
</div>

