@{
    ViewBag.Title = "Anonymous";
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1>Anonymous page</h1>
        <p>Any user can access this page, since it has anonymous permission.</p>
        <hr />

        @Html.ActionLink("Go back to Index", "Index")
    </div>
</div>

