@{
    ViewBag.Title = "Forbidden!";
}

<div class="row text-center">
    <div class="col-xs-12">
        <h1>Forbidden!</h1>
        <p>You are not allowed to access the current page due to missing privileges.</p>
        <hr />

        @Html.ActionLink("Go back to Index", "Index")
    </div>
</div>

